@font-face {
  font-family: 'Voto';
  src: url('../fonts/VotoSerifGX.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNext_Variable.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: 'Source Serif';
  src: url('../fonts/SourceSerifVariable-Roman.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Source Code';
  src: url('../fonts/SourceCodeVariable-Roman.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSansVariable-Roman.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/MetaVariableDemo-Roman.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Hepta Slab';
  src: url('../fonts/HeptaSlab-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'League Mono';
  src: url('../fonts/LeagueMonoVariable.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Secuela';
  src: url('../fonts/Secuela-Regular-v_1_787-TTF-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Titillium';
  src: url('../fonts/TitilliumWeb-Roman-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Crimson';
  src: url('../fonts/CrimsonPro-Roman-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Changa';
  src: url('../fonts/Changa-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'IBM Plex';
  src: url('../fonts/IBMPlexSansVar-Roman.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-Roman-VF.ttf');
  font-weight: 1 999;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Roman-VF.ttf');
  font-weight: 1 999;
}


.variable {
  // font-variation-settings: 'wght' 375;
  font-weight: 1;
  transition: font-weight 1s ease;
  &:hover {
    font-weight: 999;
  }
}

.voto {
  font-family: 'Voto';
}

.avenir {
  font-family: 'Avenir Next';
}

.source-serif {
  font-family: 'Source Serif';
}
.source-code {
  font-family: 'Source Code';
}
.source-sans {
  font-family: 'Source Sans';
}

.lora {
  font-family: 'Lora';
}

.meta {
  font-family: 'Meta';
}

.hepta-slab {
  font-family: 'Hepta Slab';
}

.league-mono {
  font-family: 'League Mono';
}

.secuela {
  font-family: 'Secuela';
}

.crimson {
  font-family: 'Crimson';
}

.titillium {
  font-family: 'Titillium';
}

.changa {
  font-family: 'Changa';
}

.firacode {
  font-family: 'Fira Code';
}

.plex {
  font-family: 'IBMPlex';
}

.public {
  font-family: 'Public Sans';
}

.work {
  font-family: 'Work Sans';
}